.section
{
    height: 500px;
    background-color: yellow;
    border: solid black 1px;
}
.hero{

    background-color: blue;
    height: 100vh;
    color:white ;
    font-size: 40px;
   

}
footer {
    height: 500px;

    background-color: black;
}
nav{
 display: flex;
 justify-content: space-between;

}
ul{
display: flex;
list-style-type: none;


}
li{
    width: 200px;
    text-decoration: none;

    
}









































































